.section__title {
  font-size: 2em;
}

.post__name {
  margin: auto;
  font-size: 1.5em;
}

@media (min-width: 481px) {
  .section__title {
    font-size: 24px;
  }
  .post__name {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .section__title {
    font-size: 20px;
  }
  .post__name {
    font-size: 18px;
  }
}